# Amazone web scrapping

In [1]:
from autoscraper import AutoScraper 
import pandas as pd

In [2]:
url = "https://www.amazon.in/s?k=iphone&crid=70BTOR8DU5SE&sprefix=iphone+%2Caps%2C313&ref=nb_sb_noss_2"
wanted_list = ['Apple iPhone 12 (64GB) - (Product) RED','₹53,999']

# make a scraper object and build it on give data: 
scraper = AutoScraper() 
result = scraper.build(url, wanted_list)

In [7]:
# for given data we got the similer result 
scraper.get_result_similar(url, grouped= True)

{'rule_gmk9': ['Apple iPhone 12 (64GB) - (Product) RED',
  'Apple iPhone 14 (128 GB) - (Product) RED'],
 'rule_jp55': ['₹70,999',
  '₹79,900',
  '₹61,999',
  '₹79,900',
  '₹53,999',
  '₹59,900',
  '₹1,49,900',
  '₹18,999',
  '₹29,999',
  '₹1,27,999',
  '₹1,39,900',
  '₹79,999',
  '₹89,900',
  '₹18,999',
  '₹29,999',
  '₹1,19,999',
  '₹1,29,900',
  '₹49,900',
  '₹74,900',
  '₹79,900',
  '₹1,19,999',
  '₹1,29,900',
  '₹84,900',
  '₹89,900',
  '₹1,29,999',
  '₹1,39,900',
  '₹1,01,999',
  '₹1,09,900',
  '₹89,999',
  '₹99,900'],
 'rule_pvun': ['₹70,999',
  '₹79,900',
  '₹61,999',
  '₹79,900',
  '₹53,999',
  '₹59,900',
  '₹1,49,900',
  '₹18,999',
  '₹29,999',
  '₹1,27,999',
  '₹1,39,900',
  '₹79,999',
  '₹89,900',
  '₹18,999',
  '₹29,999',
  '₹1,19,999',
  '₹1,29,900',
  '₹49,900',
  '₹74,900',
  '₹79,900',
  '₹1,19,999',
  '₹1,29,900',
  '₹84,900',
  '₹89,900',
  '₹1,29,999',
  '₹1,39,900',
  '₹1,01,999',
  '₹1,09,900',
  '₹89,999',
  '₹99,900'],
 'rule_jc8y': ['₹53,999', '₹59,900', '₹70,999', '₹79,900'],
 'rule_1yxx': ['₹53,999', '₹59,900', '₹70,999', '₹79,900']}

In [10]:
# now define the rules from that we can acsess the data :
scraper.set_rule_aliases({'rule_jp55':'price','rule_gmk9':'name'}) 
scraper.keep_rules(['rule_jp55','rule_gmk9'])
scraper.save('search_iphone')

In [11]:
# after defining rule we get the try in new url : 
new_url = "https://www.amazon.in/s?k=realme&crid=1WWGY7DRAO73M&sprefix=%2Caps%2C643&ref=nb_sb_noss_2"
new_result = scraper.get_result_similar(new_url,group_by_alias=True)

In [15]:
df = pd.DataFrame()
df['product_name'] = new_result['name']
price = [] 
for i in new_result['price'] : 
    price.append(i)
df['product_price'] = price[:2]

In [16]:
# make modification on dataframe : 

df['product_price']  = df['product_price'].str.replace('₹','')
df['product_price'] = df['product_price'].str.replace(',','') 
df['product_price']  = pd.to_numeric(df['product_price'], errors= 'ignore')

In [17]:
df

                                        product_name  product_price
0  Samsung Galaxy M04 Light Green, 4GB RAM, 64GB ...           6499
1  Redmi Note 12 5G Mystique Blue 4GB RAM 128GB R...          10999